body {
  font-family: Outfit;
  background-color: hsl(217, 54%, 11%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-div {
  margin: 50px 0;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  display: flex;
  max-width: 330px;
  justify-content: center;
  flex-direction: column;
}

.card-img {
  max-width: 300px;
  margin: 15px;
  border-radius: 5px;
}
.about {
  margin: 0 15px;
  margin-bottom: 20px;
}
.spec {
}
.description {
  font-weight: 100;
}

.price {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.line {
  border: none;
  height: 1px;
  background: hsl(215, 51%, 70%);
  margin: 0 15px 15px 15px;
  margin-bottom: 10px;
}
.creator {
  margin: 0 15px 15px 15px;
  display: flex;
  flex-direction: row;
}

.creator-avatar {
  width: 30px;
  border: 1px solid #fff;
  border-radius: 100%;
  margin-right: 10px;
}

.value {
  font-weight: 500;
}
.eth-img {
  margin-right: 15px;
}
